h1 {
    font-family: Tahoma;
    position: static;
    text-align: center;
    border: black 10px;
    margin: 0px;
    color: black;
}

h4{
    font-family: Tahoma;
    position: static;
    text-align: center;
    border: black 5px;
    margin: 0px;
    color: black;
}

img{
    position: center;
    width: 286px;
    height: 194px;
}

.linea{
    width: 1115px;
    height: 2px;
}

body{
    background-color: grey;
    text-align: center;
}

